.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard span {
  font-weight: bold;
  font-size: 1.2em;
}

.new {
  float: right;
  background-color: #2f89c5;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  transition: 0.2s;
}

.mtb-24 {
  margin: 24px 0;
}


.new svg {
  margin-right: 8px;
}

.new:hover {
  background-color: #37a0e6;
  transform: scale(1.05);
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #fafafa;
  border: 1px solid #ddd;
  padding: .35em;
}

table th, table td {
  padding: .62em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .08em;
  text-transform: uppercase;
}

table td .action {
  border: 0;
  padding: 5px;
  margin-right: 5px;
  align-items: center;
  display: inline-block;
  border-radius: 4px;
  transition: .2s;
}

.action:hover {
  opacity: .7;
}

table td .action svg {
  vertical-align: middle;
}

table td .badge {
  padding: 5px;
  border-radius: 3px;
  color: #fff;
}

.btn-more {
  margin: 8px 0;
  padding: 8px;
  width: 100%;
  border: 2px solid #181c2e;
  border-radius: 8px;
  background-color: #181c2e;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: .2s;
}

.btn-more:hover {
  background-color: transparent;
  color: #181c2e;
}

@media (max-width: 768px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .65em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}