.content {
  position: relative;
  flex: 1;
  margin: 1em;
}

.container {
  display: flex;
  margin-top: 16px;
  background-color: #fefefe;
  border-radius: 8px;
  padding: 24px;
  align-items: center;
}

.container form {
  margin-top: 0;
}

.label-avatar {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: 24px !important;
}

.label-avatar input {
  display: none;
}

.label-avatar img {
  border-radius: 50%;
  object-fit: cover;
}

.label-avatar span {
  z-index: 999;
  position: absolute;
  opacity: .7;
  transition: .2s;
}

.label-avatar:hover > span {
  opacity: 1;
  transform: scale(1.1);
}

.form-profile label {
  font-weight: 600;
  font-size: 18px;
}

.form-profile input {
  padding: 12px;
  max-width: 600px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 2px solid #ececec;
}

.form-profile input:disabled {
  background-color: #EFEFEF;
  cursor: not-allowed;
  color: #7a7a7a;
}

.form-profile button {
  max-width: 600px;
  margin-top: 16px;
}

.btn-logout {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 18px;
  opacity: .6;
  transition: .2s;
}

.btn-logout:hover {
  opacity: 1;
}